<nav class="site-nav" aria-label="{{t "Main Menu"}}">
	<div class="inner">
		{{#if @blog.navigation}}
			{{navigation}}
		{{/if}}
		<a class="subscribe-button square fill-horizontal" href="{{@blog.url}}/rss/"><span class="icon-feed" aria-hidden="true"></span><span class="screen-reader-text">{{t "Subscribe"}}</span></a>
	</div><!-- .inner -->
</nav><!-- .site-nav -->

<header class="site-header fadeInDown delay_05s">
	<div class="inner">
		{{#if @blog.logo}}
		<p class="site-logo"><a href="{{@blog.url}}"><img src="{{img_url @blog.logo size="xs"}}" alt="{{@blog.title}}" /></a></p>
		{{/if}}
		{{#is "index"}}
		<h1 class="site-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
		{{else}}
		<p class="site-title"><a href="{{@blog.url}}">{{@blog.title}}</a></p>
		{{/is}}
		{{#if @blog.description}}
		<p class="site-description">{{@blog.description}}</p>
		{{/if}}
	</div><!-- .inner -->
</header><!-- .site-header -->
